@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
    font-family: Montserrat;
    /* width: 100%; */
    color: #333333;
}
                                                                            /* Header */
header{
    background: url(../images/background.png)  no-repeat center ;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;  
    position: relative; 
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    z-index: 1;
}
.wrapper{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
}
                                                                            /* top line */
.top__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
}
.header__nav ul{
    display: flex;
}
.header__nav ul li{
    margin-right:57px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 12px;
    transition: all .5s ease-in-out;
    position: relative;
}
.header__nav ul li:hover{
    color: #fce38a;
    transition: all .5s ease-in-out;
}
.header__nav ul li::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.header__nav ul li:hover::after{
    opacity: 1;
    transition: all .5s ease-in-out;
}
.header__nav ul li a{
    text-decoration: none;
    color:inherit;
}
                                                                            /* /top line */
.header__subtitle{
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    margin: 229px 0 42px 0;
    text-align: center;
}
.header__title{
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    padding-bottom: 71px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.header__inner{
    width: 100%;
    max-width: 806px;
    margin: 0 auto;
}
.header__title::after{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-30px);
}
.header__button{
    display: block;
    margin: 0 auto;
    border: 3px solid #ffffff;
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 32px;
    transition: all .6s linear;
    font-family: inherit;
}
.header__button:hover{
    background: #ffffff;
    color: #000;
    transition: all .6s linear;
}
                                                                            /* header slider*/
.header__slider{
    margin-top: 157px;
}
.header__slider ul{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}
.header__slider span{
    font-size: 24px;
    font-weight: 700;
}
.header__slider ul li{
    padding: 28px 0;
    width: 24%;
    border-top: 3px solid #ffffff;
    opacity: 0.7;
}
.header__slider ul li a{
    text-decoration: none;
    color: inherit;
}
.header__slider .active{
    opacity: 1;
}

.header__slider .active::before{
    content: '';
    display:flex;
    justify-content:flex-start;
    position: absolute;
    top: 0;
    width: 70px;
    height: 3px;
    background-color: #f38181;
}
                                                                    /* About */
                                                                   
.section-text__inner{
    margin: 90px auto 100px;
    text-align: center;
    width: 100%;
    max-width: 955px;
}
.section-subtitle{
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 23px 0 47px;
    padding-bottom: 43px;
    position: relative;
}
.section-title::after{
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-30px);
}
.section-text{
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.about-image{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.about-image__outer{
    background-color: #95e1d3; 
    position: relative; 
}
.about-image__outer:hover .about-image__inner img {
    opacity: .1;
    transition: opacity .5s ease-out;
}
.about-image__outer:hover .about-image__inner{
    transform: translate(-10px, -10px);
}
.about-image__inner{
    background:url(../images/USERS.png) center no-repeat, linear-gradient(to top, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%) ;
    transition: transform .5s ease-out;    
}
.about-image__inner img{
    transition: opacity .5s ease-out;
    z-index: 5;
}
.about-image__text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-70px);
    z-index: 1;
    opacity: 0;
}
.about-image__outer:hover .about-image__text {
    opacity: 1;
    transition: opacity .5s ease-out;
}
                                                                            /* counter */
.about-counter{
    margin-top: 110px;
    background-color: #95e1d3;
    color: #ffffff;  
}
.counter-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter-card {
    flex: 1 1 0;
    padding: 70px 0;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    align-self: center;
    box-sizing: border-box;
}
.counter-card:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
} 
.counter-card__number {
font-size: 72px;
font-weight: 700;
margin-bottom: 30px;
}
.counter-card__desk {
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}