@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');

body{
    font-family: Montserrat;
    /* width: 100%; */
    color: #333333;
}
                                                                            /* Header */
header{
    background: url(../images/background.png)  no-repeat center ;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;  
    position: relative; 
}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    z-index: 1;
}
.wrapper{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
}
                                                                            /* top line */
.top__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
}
.header__nav ul{
    display: flex;
}
.header__nav ul li{
    margin-right:57px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 12px;
    transition: all .5s ease-in-out;
    position: relative;
}
.header__nav ul li:hover{
    color: #fce38a;
    transition: all .5s ease-in-out;
}
.header__nav ul li::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.header__nav ul li:hover::after{
    opacity: 1;
    transition: all .5s ease-in-out;
}
.header__nav ul li a{
    text-decoration: none;
    color:inherit;
}
                                                                            /* /top line */
.header__subtitle{
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    margin: 229px 0 42px 0;
    text-align: center;
}
.header__title{
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    padding-bottom: 71px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.header__inner{
    width: 100%;
    max-width: 806px;
    margin: 0 auto;
}
.header__title::after{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-30px);
}
.header__button{
    display: block;
    margin: 0 auto;
    border: 3px solid #ffffff;
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 32px;
    transition: all .6s linear;
    font-family: inherit;
}
.header__button:hover{
    background: #ffffff;
    color: #000;
    transition: all .6s linear;
}
                                                                            /* header slider*/
.header__slider{
    margin-top: 157px;
}
.header__slider ul{
    display: flex;
    justify-content:space-between;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}
.header__slider span{
    font-size: 24px;
    font-weight: 700;
}
.header__slider ul li{
    padding: 28px 0;
    width: 24%;
    border-top: 3px solid #ffffff;
    opacity: 0.7;
}
.header__slider ul li a{
    text-decoration: none;
    color: inherit;
}
.header__slider .active{
    opacity: 1;
}

.header__slider .active::before{
    content: '';
    display:flex;
    justify-content:flex-start;
    position: absolute;
    top: 0;
    width: 70px;
    height: 3px;
    background-color: #f38181;
}
                                                                    /* About */
                                                                   
.section-text__inner{
    padding-top: 90px;
    text-align: center;
    width: 100%;
    max-width: 955px;
    margin: 0 auto;
}
.section-subtitle{
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 23px 0 47px;
    padding-bottom: 43px;
    position: relative;
}
.section-title::after{
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-30px);
}
.section-text{
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 110px;
}
.about-image{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.about-image__outer{
    background-color: #95e1d3; 
    position: relative; 
}
.about-image__outer:hover .about-image__inner img {
    opacity: .1;
    transition: opacity .5s ease-out;
}
.about-image__outer:hover .about-image__inner{
    transform: translate(-10px, -10px);
}
.about-image__inner{
    background:url(../images/icon/USERS.png) center no-repeat, linear-gradient(to top, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%) ;
    transition: transform .5s ease-out;    
}
.about-image__inner img{
    transition: opacity .5s ease-out;
    z-index: 5;
}
.about-image__text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-70px);
    z-index: 1;
    opacity: 0;
}
.about-image__outer:hover .about-image__text {
    opacity: 1;
    transition: opacity .5s ease-out;
}
                                                                            /* counter */
.about-counter{
    margin-top: 110px;
    background-color: #95e1d3;
    color: #ffffff;  
}
.counter-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter-card {
    flex: 1 1 0;
    padding: 70px 0;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    align-self: center;
    box-sizing: border-box;
}
.counter-card:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
} 
.counter-card__number {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
}
.counter-card__desk {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
                                                                        /* Services */
.services{
    margin-bottom: 117px;
}
.services-card__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}                                                                        
.services-card {
    display: flex;
    margin: 50px auto 50px;
    width: 30%;
}
.services-card img{
    width: auto;
    height: 32px;
}
.services-card__text {
    margin-left: 28px;
}
.card__title {
    margin-bottom: 20px;
}
h5{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.card__desc {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 0;
}
                                                                            /* Devices */
.section {
    background: url(../images/backgroundDising.png) no-repeat center;
    position: relative;
    background-size: auto;
    /* width: 100%; */
}
.section::before{
    content: '';
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.devices__image{
    display: flex;
    justify-content: center;
}
.devices__image_iPad{
    max-width: 100%;
    height: auto;
}
.devices__image_iPhone{
    position: absolute;
    bottom: -91px;
    left: calc(50% + 100px);
}
                                                                            /*Products */
.products-cards_inner{
    display: flex;
    margin-bottom: 120px;
    height:380px;
}
                                                                            /* accordion*/
.block__wrapper {
    margin-left: 30px;
    width: 100%;
}
.block__item {
    margin: 0px 0px 20px 0px;
}
.block__item:last-child{
    margin: 0;
}
.block__title__wrapper{
    display: flex;
    padding: 15px 16px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    position: relative;
}
.block__title {
    padding: 0px 0px 0px 15px;
}
.block__title__wrapper::before,
.block__title__wrapper::after{
    content: '';
    width: 15px;
    height: 3px;
    background-color: #cccccc;
    position: absolute;
    top:50%;
    transition: all .3s ease 0s;
}
.block__title__wrapper.active::before{
    transform: rotate(-40deg);
}
.block__title__wrapper.active::after{
    transform: rotate(40deg);  
}
.block__title__wrapper::before{
    transform: rotate(40deg);
    right: 30px;
}
.block__title__wrapper::after{
    transform: rotate(-40deg);
    right: 20px;
}
.block__text {
    width: 100%; 
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    display: none;
}
.block__desc{
    padding:0px 25px 5px 0px;
    margin: 20px 25px;
    font-style: italic;
    font-family: "Roboto - Light Italic";
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-height: 118px;
    overflow-y: scroll;  
}
.block__desc::-webkit-scrollbar { 
    width: 5px;
    border-radius: 3px;
}
.block__desc::-webkit-scrollbar-track { 
    width: 5px;
    border-radius: 3px;
    background-color: #f5f5f5;
}
.block__desc::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 3px;
}
                                                                            /*/ accordion*/
.products-comments {
    height: 290px;
    background-color: #f8f8f8;
}
.comments-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.comments-slider img{
    border: 3px solid #95e1d3;
    padding: 44px;
}
.comments__wrap {  
    max-width: 767px;
    margin-left: 60px;
}
.comment__text {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 23px;
}
.comment__user {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
}
.comment__user::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #f38181; 
    vertical-align: middle; 
}
                                                                            /*Team*/
.about-image-item{
    text-align: center;
    padding-bottom: 117px;
}
.team .about-image__inner{
    background: linear-gradient(to top, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%);
}
.about-image__social{
    color: #ffffff;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0;
    display: flex;
    width: 100%;
    justify-content:center;
    transition: opacity .5s ease-out;
}
.about-image__social a{
    background-color: #fce38a;
    text-decoration: none;
    padding: 15px;
    border-right: 1px solid rgba(243, 129, 129, .5);
    color: #f38181;
    width: 26px;
    text-align: center;
    transition: all .5s ease-in-out;
}
.about-image__social a:last-child{
    border-right:none;
}
.about-image__social a:hover{
    background-color: #f38181;
    color: #ffffff;
     transition: all .5s ease-in-out;
}
.about-image__social a i{
    font-size: 26px;
}
.about-image__outer:hover .about-image__social{
    opacity: 1;
    transition: opacity .5s ease-out;
}
.team__name {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0px 15px;
}
.team__profession {
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.logo {
    background-color: #f8f8f8;
    height: 250px;  
}
.logo .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;  
}
.logo__wrap {
    width: 15%;
    text-align: center;
}
.logo__wrap img{
   display: inline-block;
   vertical-align: middle;
   max-width: 100%;
   height: auto;
}
                                                                                /* Work  */
.work{
    margin-bottom: 90px;
}
.picture{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
}
.picture img{
    width: 100%;
    height: auto;
}   
.picture img:nth-child(3){
    grid-column-start: 3;
    grid-row-start: 1; 
    grid-row-end: 3; 
}                                                                            
.work .products-comments{
    background: inherit;
}
.work .products-comments img{
    border: none;
}

.work-picture__inner:hover  img {
    opacity: .1;
    transition: opacity .5s ease-out;
    
}

.work-picture__inner{
    background:url(../images/icon/picture\ __2.png) center no-repeat, linear-gradient(to top, rgba(252, 227, 138) 0%, rgba(243, 129, 129) 100%) ;
    transition: transform .5s ease-out; 
    position: relative;
  
}
.work-picture__inner img{
    transition: opacity .5s ease-out;
    z-index: 5;
}
.work-picture__text{
    color: #ffffff;
    font-family: "Roboto - Light Italic";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-70px);
    z-index: 1;
    /* opacity: 0; */
  
}
.work-picture__title{
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translateX(-80px);
    margin: 20px auto 17px;
    z-index: 1;
    /* opacity: 0; */
  }
.work-picture__inner:hover .work-picture__text {
    opacity: 1;
    transition: opacity .5s ease-out;
}